body {
    font-family: source-sans-pro, sans-serif;
    font-size: 15px;
    /*padding-top: 60px;*/
    /*padding-bottom: 40px;*/
}

.dropdown-menu {
    max-height: 400px;
    overflow: auto;
    width: 230px;
}

.list-item {
    padding-top: 6px;
    padding-left: 56px;
}

.no-reports {
    display: none;
}

/**
 * [START] Browse directory
*/

#browseList ul {
    margin-left: 0;
    list-style-type: none;
}

#browseList li {
    background-color: #f7f7f7;
    margin: 10px 0;
}

#browseList li:hover {
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

#browseList li a {
    display: block;
    padding: 10px;
}

#browseList li a:hover {
    text-decoration: none;
    color: #ffffff;
}

#browseList li p {
    margin: 0;
    padding-bottom: 4px;
}

/**
 * [END] Browse directory
*/
